# API server
API_PORT=4000

# Postgres connection defaults are set to work with this repo's docker-compose setup.
# If localhost does not reach the Docker DB from your environment, use host.docker.internal.
PGHOST=host.docker.internal
PGPORT=5432
PGUSER=pickup
PGPASSWORD=pickup
PGDATABASE=pickup
